body{
	background: #fff;
}
.yjMain h1 a:nth-child(1) span{
	/*vertical-align: middle;*/
	line-height: 40px;
	font-size: 40px;
	color: #666;
	padding-left: 10px;
	/*background: red;*/
}
.yjMain h1 a:nth-child(3) span{
	display: block;
	/*vertical-align: middle;*/
	line-height: 40px;
	font-size: 40px;
	color: #000;
	/*background: red;*/
}
.yjMain h1 a:nth-child(2)>img{
	/*display: inline-block;*/
	/*line-height: 40px;*/
	position: relative;
	top: 5px;
}
.yjMain h1 a:nth-child(4)>img{
	/*display: inline-block;*/
	/*line-height: 40px;*/
	position: relative;
	top: 10px;
	margin-right: 10px;
}
.yjBtm{
	display: block;
	position: fixed;
	bottom: 0px;
	background: #fff;
}
.yjBtm a:hover{
	color: red;
}
.yjImg{
	width: 100%;
	height: 100%;
	background: #fff;
}
.yjImg img{
	display: block;
	width: 100%;
	margin: 5px auto;
}
.yjBushu{
	width: 100%;
	/*background: red;*/
	height: 40px;
	line-height: 40px;
	/*font-size: 20px;*/
	/*display: flex;*/
}
.yjBushu p{
	float: left;
	padding-left: 10px;
	color: #000;
	/*font-size: 20px;*/
}
.yjBushu a{
	color: #666;
}
.yjBushu a span{
	position: relative;
	top: 8px;
	padding-right: 10px;
}
.yjBox{
	background: #fff;
	margin-top: 15px;
}
.yjLi ul{
	width: 100%;
	display: flex;
	flex: 1;
	list-style: none;
}
.yjLi ul li{
	flex: 1;
	text-align: center;
}
.yjLi ul p{
	color: #000;
	font-weight: 700;
}
.yjLi ul i{
	display: inline-block;
	height: 40px;
	border-left: 1px solid #000;
}
.yjBox p{
	width: 100%;
	padding-left: 30px;
	/*text-align: center;*/
}
.yjCon{
	background: #fff;
}
.yjImgBox{
	text-align: center;
}
.yjImgBox a{
	display: block;
}
.yjBar a{
	color: #000;
	font-size: 50px;
	
}
.yjLeft{
	line-height: 35px;
	margin-left: 15px;
}
.yjTuijian{
	margin-top: 20px;
	background: #fff;
}
.yjTuijian p{
	padding-left: 20px;
}
.yjImgs{
	text-align: center;
}
.yjKecheng{
	background: #fff;
}
.yjKecheng>p{
	margin-top: -20px;
	padding-left: 15px;
	padding-right: 15px;
	color: #000;
}
.yjKecheng p a{
	color: #000;
}
.yjUl{
	/*display: flex;*/
	width: 100%;
	height: 100px;
	background: #fff;
	margin-left: -12px;
	list-style: none;
	text-align: center;
	justify-content: space-around;
}
.yjUl li{
	/*flex: 1;*/
	display: block;
	width: 40px;
	height: 40px;
	float: left;
	margin: 0 13px;
	line-height: 40px;
	/*display: flex;*
	/*width: 100%;*/
	border: 1px solid #666;
	border-radius: 50%;
}
.yjImgss{
	height: 150px;
	background: #fff;
	text-align: center;
	margin-top: 15px;
}
.yjBot{
	margin-bottom: 50px;
}
.yjAi{
	margin-top: 45px;
}
.yjFloat{
	text-align: center;
	list-style: none;
}
.yjFloat li img{
	margin: 2px 2px;
}
.yjAii{
	text-align: center;
}
.yjAii img{
	margin-top: 15px;
}
